In [80]:
print("Hello world")

Hello world

In [81]:
import pandas as pd
import numpy as np

In [82]:
df_part1 = pd.read_csv('../Sleep_health_and_lifestyle_dataset.csv')
df_part2 = pd.read_csv('../Sleep_health_and_lifestyle_dataset_part_2.csv')

In [83]:
df = pd.concat((df_part1, df_part2))
df

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
...,...,...,...,...,...,...,...,...,...,...,...,...,...
181,555,Female,43,Teacher,6.7,7,45,4,Overweight,135/90,65,6000,Insomnia
182,556,Male,43,Salesperson,6.5,6,45,7,Overweight,130/85,72,6000,Insomnia
183,557,Female,43,Teacher,6.7,7,45,4,Overweight,135/90,65,6000,Insomnia
184,558,Male,43,Salesperson,6.4,6,45,7,Overweight,130/85,72,6000,Insomnia
185,559,Male,43,Salesperson,6.5,6,45,7,Overweight,130/85,72,6000,Insomnia

In [84]:
df.isnull().sum()

Person ID                    0
Gender                       0
Age                          0
Occupation                   0
Sleep Duration               0
Quality of Sleep             0
Physical Activity Level      0
Stress Level                 0
BMI Category                 0
Blood Pressure               0
Heart Rate                   0
Daily Steps                  0
Sleep Disorder             375
dtype: int64

In [85]:
df = df.fillna(df['Sleep Disorder'].mode()[0])

In [86]:
df.isnull().sum()

Person ID                  0
Gender                     0
Age                        0
Occupation                 0
Sleep Duration             0
Quality of Sleep           0
Physical Activity Level    0
Stress Level               0
BMI Category               0
Blood Pressure             0
Heart Rate                 0
Daily Steps                0
Sleep Disorder             0
dtype: int64

In [87]:
lowRow = []
highRow = []


for val in df['Blood Pressure']:
    sp = val.split('/')

    highRow.append(int(sp[0]))
    lowRow.append(int(sp[1]))

df['LowBP'] = np.array(lowRow)
df['HighBP'] = np.array(highRow)

# df.drop('Blood Pressure', axis = 1)

In [88]:
df1 = df.drop('Blood Pressure', axis = 1)

In [89]:
df2 = df1.copy()
df2

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Heart Rate,Daily Steps,Sleep Disorder,LowBP,HighBP
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,77,4200,Insomnia,83,126
1,2,Male,28,Doctor,6.2,6,60,8,Normal,75,10000,Insomnia,80,125
2,3,Male,28,Doctor,6.2,6,60,8,Normal,75,10000,Insomnia,80,125
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,85,3000,Sleep Apnea,90,140
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,85,3000,Sleep Apnea,90,140
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181,555,Female,43,Teacher,6.7,7,45,4,Overweight,65,6000,Insomnia,90,135
182,556,Male,43,Salesperson,6.5,6,45,7,Overweight,72,6000,Insomnia,85,130
183,557,Female,43,Teacher,6.7,7,45,4,Overweight,65,6000,Insomnia,90,135
184,558,Male,43,Salesperson,6.4,6,45,7,Overweight,72,6000,Insomnia,85,130
185,559,Male,43,Salesperson,6.5,6,45,7,Overweight,72,6000,Insomnia,85,130

In [90]:
from sklearn.preprocessing import LabelEncoder

In [91]:
catData = {key: [] for key in df if df[key].dtype == object}
catData

{'Gender': [],
 'Occupation': [],
 'BMI Category': [],
 'Blood Pressure': [],
 'Sleep Disorder': []}

In [92]:
for category in catData:
    labelEncoder = LabelEncoder()
    
    labelEncoder.fit(df[category])
    df2[category] = labelEncoder.transform(df[category])

df2

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Heart Rate,Daily Steps,Sleep Disorder,LowBP,HighBP,Blood Pressure
0,1,1,27,9,6.1,6,42,6,3,77,4200,0,83,126,11
1,2,1,28,1,6.2,6,60,8,0,75,10000,0,80,125,9
2,3,1,28,1,6.2,6,60,8,0,75,10000,0,80,125,9
3,4,1,28,6,5.9,4,30,8,2,85,3000,1,90,140,22
4,5,1,28,6,5.9,4,30,8,2,85,3000,1,90,140,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181,555,0,43,10,6.7,7,45,4,3,65,6000,0,90,135,20
182,556,1,43,7,6.5,6,45,7,3,72,6000,0,85,130,15
183,557,0,43,10,6.7,7,45,4,3,65,6000,0,90,135,20
184,558,1,43,7,6.4,6,45,7,3,72,6000,0,85,130,15
185,559,1,43,7,6.5,6,45,7,3,72,6000,0,85,130,15